<!DOCTYPE html>
<html lang="en">
<center>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<br/>
<br/>

<a href="/govtestCenters">Government_Test_Centers</a>
<br/>
<br/>
<a href="/pritestCenters">Private_Test_Centers</a>
<br/>
<br/>
<a href="/quarantine">Quarantine_Centers</a>
<br/>
<br/>
<a href="/helpline">Help_Line</a>
<br/>
<br/>
<a href="/addgovernment">AddGovernmentTestCenters</a>
<br/>
<br/>
<a href="/addprivate">AddPrivateTestCenters</a>

</body>
</center>
</html>