<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<center>
<body>
<h1>Private Details </h1>

    <form action = "/addpritestcenters" method = "POST"><br/>
        <br/>state:<input type="text" name="state" required="true"><br/>
        <br/>hospital:<input type="text" name="hospital" required="true"><br/>
        <br/>address:<input type="text" name="address" required="true"><br/>
        <br/>phone:<input type="text" name="phone" required="true"><br/>
        <br/>latitude:<input type="text" name="latitude" required="true"><br/>
        <br/>longitude:<input type="text" name="longitude" required="true"><br/>

        <br/><input type="submit" value="Submit"><br/>
    </form>
<br/>



         </body>
</center>
</html>